<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js</title>

  <link href="/main.css" rel="stylesheet">
  <link href="/detail.css" rel="stylesheet">
</head>

<body class="grey-bg">
  <%- include('nav.ejs') %>
  
  <div class="detail-bg">
    <h4><%= postData.title %></h4>
    <p><%= postData.content %></p>
    <% if( postData.imgURL ) { %>
      <img src="<%= postData.imgURL%>" width="500px" alt="이미지"/>
    <% } %>
    <!-- <a href="/chat/<%=postData.postId %>">채팅하기</a> -->
    <a href="/chat/request?writerId=<%=postData.userId%>">채팅하기</a>
  </div> 

  <div>
    <h3>Comment</h3>
    <div class="list">
      <% commentList.forEach( (commentObj) => { %>
      <p> <strong><%= commentObj.username %></strong> <span><%= commentObj.comment %> </span> </p>
      <% }) %>
    </div>
    <form action="/comment/write" method="POST">
      <input type="text" name="postId" value="<%= postData.postId %>" hidden>
      <input type="textarea" name="comment">
      <button type="submit" id="commentBtn">작성</button>
    </form>
  </div>


<script>
// document.querySelector("#commentBtn").addEventListener("click", (e) => {
//   let comment = document.querySelector("#comment").value;
  
//   fetch("/comment/write", {
//     method: 'POST',
//     headers: { 'Content-Type' : 'application/json' },
//     body: JSON.stringify({ 
//       postId: document.querySelector("body").dataset.postid,
//       comment: comment,
//       date: new Date()
//     })
//   })
//   .then( r => r.text )
//   .then( (r)=> {
//     let childEle = document.createElement("div").appendChild(document.createTextNode(comment));
//     document.querySelector("#comment").value = "";
//     document.querySelector(".list").appendChild(childEle);
//   })
// });
</script>

</body>
</html>